CurrencyConvertorClient/Web References/cloud.bzu/ExServiceSOAP.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:intf="http://bzu.cloud:8080/ExProj/services/" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:impl="http://bzu.cloud:8080/ExProj/services/" targetNamespace="http://bzu.cloud:8080/ExProj/services/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://bzu.cloud:8080/ExProj/services/">
      <xsd:simpleType name="Currency">
        <xsd:restriction base="xsd:string">
          <xsd:enumeration value="AUD" />
          <xsd:enumeration value="BGN" />
          <xsd:enumeration value="BRL" />
          <xsd:enumeration value="CAD" />
          <xsd:enumeration value="CHF" />
          <xsd:enumeration value="CNY" />
          <xsd:enumeration value="CZK" />
          <xsd:enumeration value="DKK" />
          <xsd:enumeration value="EUR" />
          <xsd:enumeration value="GBP" />
          <xsd:enumeration value="HKD" />
          <xsd:enumeration value="HRK" />
          <xsd:enumeration value="HUF" />
          <xsd:enumeration value="IDR" />
          <xsd:enumeration value="ILS" />
          <xsd:enumeration value="INR" />
          <xsd:enumeration value="JPY" />
          <xsd:enumeration value="KRW" />
          <xsd:enumeration value="MXN" />
          <xsd:enumeration value="MYR" />
          <xsd:enumeration value="NOK" />
          <xsd:enumeration value="NZD" />
          <xsd:enumeration value="PHP" />
          <xsd:enumeration value="PLN" />
          <xsd:enumeration value="RON" />
          <xsd:enumeration value="RUB" />
          <xsd:enumeration value="SEK" />
          <xsd:enumeration value="SGD" />
          <xsd:enumeration value="THB" />
          <xsd:enumeration value="TRY" />
          <xsd:enumeration value="USD" />
          <xsd:enumeration value="ZAR" />
        </xsd:restriction>
      </xsd:simpleType>
      <xsd:complexType name="currencies">
        <xsd:sequence>
          <xsd:element name="FromCurrency" nillable="true" type="impl:Currency" />
          <xsd:element name="ToCurrency" nillable="true" type="impl:Currency" />
        </xsd:sequence>
      </xsd:complexType>
      <xsd:element name="parameters" type="impl:currencies" />
      <xsd:element name="rate" type="xsd:float" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CalculateExRateResponse">
    <wsdl:part name="rate" element="impl:rate" />
  </wsdl:message>
  <wsdl:message name="CalculateExRateRequest">
    <wsdl:part name="parameters" element="impl:parameters" />
  </wsdl:message>
  <wsdl:portType name="ExService">
    <wsdl:operation name="CalculateExRate" parameterOrder="parameters">
      <wsdl:input name="CalculateExRateRequest" message="impl:CalculateExRateRequest" />
      <wsdl:output name="CalculateExRateResponse" message="impl:CalculateExRateResponse" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ExServiceSOAPSoapBinding" type="impl:ExService">
    <wsdlsoap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CalculateExRate">
      <wsdlsoap:operation soapAction="http://bzu.cloud:8080/ExProj/services/NewOperation" />
      <wsdl:input name="CalculateExRateRequest">
        <wsdlsoap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CalculateExRateResponse">
        <wsdlsoap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ExService">
    <wsdl:port name="ExServiceSOAP" binding="impl:ExServiceSOAPSoapBinding">
      <wsdlsoap:address location="http://bzu.cloud:8080/ExProj/services/ExServiceSOAP" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>